body{
    height: 100vh;
}
.container-fluid{
    height: 100vh;
}
.customDatePickerWidth, 
.customDatePickerWidth > div.react-datepicker-wrapper, 
.customDatePickerWidth > div > div.react-datepicker__input-container
.customDatePickerWidth > div > div.react-datepicker__input-container input {
   width: 100%;
}
.personalizatediput2, 
.personalizatediput2 > div.react-datepicker-wrapper, 
.personalizatediput2 > div > div.react-datepicker__input-container
.personalizatediput2 > div > div.react-datepicker__input-container input {
   margin-right: 10px;
}
